
<div class="mcontainer">
  <!-- <div class="row cols-sm-1 cols-md-2 cols-lg-5 cols-xl-6  d-flex justify-content-around"> -->
  <% @cocktails.each do |cocktail| %>
  <div class="mcard">
    <div class="mcard-content">
    <div class="mcard-img-body" style="width: 18rem;">
          <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class: "mcard-img",height: 300, width: 400, crop: :fill %>
          <% else %>
          <%= image_tag 'noimagem.jpg', class: "mcard-img", size: '400x300' %>
          <% end %>
        </div>
      <div class="mcard-body">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: 'btn btn-cocktail btn-position' %>
        <p class="mcard-text">
          <%= cocktail.description.truncate(100) %>
        </p>
      </div>
        <div class="mcard-footer">
          <a class="mcard-footer-link" href=<%= cocktail_path(cocktail) %>>
            <div class="mcard-footer-img-btn">
              <img src="assets/reviews.png" alt="">
            </div>
            <p>
              <%= cocktail.reviews.count %> Reviews
            </p>
          </a>
          <a class="mcard-footer-link" id="ingredients"href=<%= cocktail_path(cocktail) %>>
            <div class="mcard-footer-img-btn">
              <img src="assets/drink.png" alt="">
            </div>
            <p>
              <%= cocktail.ingredients.count %> Ingredients
            </p>
          </a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <%= link_to "Create", new_cocktail_path %>
</div>

